@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --btn-color: #3C3C3C;
  --txt-color: #3D3D3D; 
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans', sans-serif;
}
.col{
  flex: none;
}

.login-btn{
  background-color: var(--btn-color) !important;
  color:white !important;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.error{
  color: red;
  font-size: 13px;
  font-weight: bold;
}

.login-btn:hover{
  background-color: var(--btn-color)  !important;
}
.login-btn:visited{
  background-color: var(--btn-color)  !important;
}

.login-btn:active{
  background-color: var(--btn-color) !important;
}

.sign-text{
  margin-top: 2rem;
  text-align: center;
}
.sign-text::before,
.sign-text::after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%;
}

.title{
  font-weight: 700;
  color: var(--txt-color);
}

.sub-title{
  padding-bottom: 2rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--txt-color);
}

.footer-title{
  margin-bottom: 0.3rem;
  font-size: 12px;
  font-weight:600;
  color: var(--txt-color);
}

.active{
  color: var(--txt-color) !important;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid var(--txt-color);
  padding: 0px 8px 0 0 !important;
}

.active-nav{
  color: var(--txt-color) ;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 8px 0 0 !important;
}

.countries-name{
  padding-left: 1.5rem;
  font-size: 15px;
  font-weight: 700;
  color: var(--txt-color);
}

.countries-name span{
  font-size: 13px;
}

.card{
  border: 2px solid var(--txt-color);
}

.footer-wrap{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.social-icons{
  padding-right: 1rem;
}


.spinnerContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99999999999;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.7);
  animation: spinner-animation 0.2s ease-in-out;
}

.plSpinner {
  color: var(--btn-color);
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.form-control{
  font-weight: 400;
  font-size: 1rem;
}

.sign-text:before {
  right: 0.5em;
  margin-left: -50%;
}
.sign-text:after {
  left: 0.5em;
  margin-right: -50%;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

@keyframes spinner-animation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
